<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="copapc.copa.web" level="info" />
  <logger name="org.hibernate" level="error" />
  <logger name="org.springframework" level="debug" />

  <root level="warn">
    <appender-ref ref="console" />
  </root>
</configuration>