ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
}

.table-gols {
  vertical-align: middle;
}

a:HOVER {
  text-decoration: none;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section, .section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1;
}

.img-responsive {
  margin: auto;
}

.min-escudo {
  display: inline-block;
  height: 25px;
  max-width: 100%;
  width: 25px;
  vertical-align: middle;
}

.escudo-time {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin: 0px auto 0px auto;
  position: relative;
  height: auto;
  padding: 30px;
}

.item, .active, .carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.twitter-link a:hover {
  color: #39a9e0;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

.carousel-img {
  display: block;
  margin: auto;
}

.lista-de-jogos-conteudo {
  opacity: 1;
  transition: opacity .35s;
}

.lista-de-jogos-conteudo {
  list-style: none;
}

.lista-de-jogos-item {
  
}

.placar-jogo {
  text-align: center;
  font-family: verdana;
}

.placar-jogo-informacoes {
  color: #666;
  font-family: verdana;
  font-size: 10px;
  letter-spacing: -.3px;
  text-transform: uppercase;
}

.placar-jogo-equipes {
  color: #333;
  display: table;
  font-size: 18px;
  padding: 5px 0 0px;
  width: 100%;
}

.placar-jogo-equipes-item {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  width: 35%;
}

.placar-jogo-equipes-mandante {
  text-align: right;
}

.placar-jogo-equipes-visitante {
  text-align: left;
}

.placar-jogo-equipes-placar {
  font-size: 24px;
  font-weight: 900;
  width: 30%;
}

.tabela-icone-versus {
  font-size: 14px;
  font-weight: normal;
}

.placar-jogo-equipes-placar-mandante, .placar-jogo-equipes-placar-visitante {
  text-align: center;
  font-size: 21px;
  width: 100%;
}

.placar-jogo-equipes-sigla, .placar-jogo-equipes-nome {
  line-height: 20px;
  max-width: 100%;
}

@media ( min-width : 550px) {
  .nome-jogo {
    font-size: 20px;
  }
  .escudo-jogo {
    max-width: 80px;
  }
  .x-jogo {
    font-size: 40px;
    font-weight: bold;
  }
  .gol-jogo {
    font-size: 90px;
    font-weight: bold;
  }
  .placar-jogo-equipes-nome {
    display: inline-block
  }
  .placar-jogo-equipes-sigla {
    display: none
  }
  .escudo {
    display: inline-block;
    height: 55px;
    max-width: 100%;
    width: 55px;
    vertical-align: middle;
  }
}

@media ( max-width : 550px) {
  .nome-jogo {
    font-size: 20px;
  }
  .escudo-jogo {
    max-width: 40px;
  }
  .x-jogo {
    font-size: 20px;
    font-weight: bold;
  }
  .gol-jogo {
    font-size: 40px;
    font-weight: bold;
  }
  .placar-jogo-equipes-nome {
    display: none
  }
  .placar-jogo-equipes-sigla {
    display: inline-block
  }
  .escudo {
    display: inline-block;
    height: 40px;
    max-width: 100%;
    width: 40px;
    vertical-align: middle;
  }
}

.tabela-pontos {
  width: 100%;
  border-style: solid;
  border-color: #999;
  border-width: 1px;
}

.tabela-pontos th {
  padding: 0 16px;
}

.tabela-pontos thead {
  color: gray;
  font-size: 14px;
  font-weight: normal;
}

.tabela-pontos tbody tr {
  border-style: solid;
  border-color: #999;
  border-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.tabela-nome-time:HOVER {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.tabela-pontos td:nth-child(odd) {
  background-color: #f5f5f5;
}

#back-to-top {
  position: fixed;
  right: 7px;
  bottom: 7px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  display: block;
  background: #222;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

#back-to-top:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.45);
}