<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

  <bean id="jdbcProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:jdbc.properties" />
  </bean>

  <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location" value="classpath:hibernate.properties" />
    <property name="properties">
      <props>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
      </props>
    </property>
  </bean>

  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="${hibernate.connection.driver_class}" />
    <property name="jdbcUrl" value="${hibernate.connection.url}" />
    <property name="user" value="${hibernate.connection.username}" />
    <property name="password" value="${hibernate.connection.password}" />
    <property name="numHelperThreads" value="2" />
    <property name="acquireIncrement" value="2" />
    <property name="minPoolSize" value="10" />
    <property name="maxPoolSize" value="30" />
    <property name="maxIdleTime" value="10000" />
    <property name="maxStatements" value="5" />
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    <property name="hibernateProperties" ref="hibernateProperties" />
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
    <property name="dataSource" ref="dataSource" />
  </bean>

  <tx:annotation-driven transaction-manager="transactionManager" />

  <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

  <bean id="timeRepository" class="copapc.infrastructure.time.TimeRepositoryImpl">
    <constructor-arg name="factory" ref="sessionFactory" />
  </bean>

  <bean id="jogoRepository" class="copapc.infrastructure.jogo.JogoRepositoryImpl">
    <constructor-arg name="factory" ref="sessionFactory" />
  </bean>

  <bean id="jogadorRepository" class="copapc.infrastructure.jogador.JogadorRepositoryImpl">
    <constructor-arg name="factory" ref="sessionFactory" />
  </bean>

  <bean id="golRepository" class="copapc.infrastructure.gol.GolRepositoryImpl">
    <constructor-arg name="factory" ref="sessionFactory" />
  </bean>

</beans>
